body {
	background: #a3a3a3;
}

.app * {
	font-size: 2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
	max-width: 50%;
	height: 60vh;
	margin: 20vh auto;
	border-radius: 2rem;
	box-shadow: 10px 10px 30px 10px #969696, -10px -10px 30px -10px #fff;

	text-align: center;
	padding: 2rem;
}

input {
	padding: 1rem;
	border: none;
	border-radius: 2rem;
	background: #a3a3a3;
	box-shadow: inset 5px 5px 20px 5px #969696, inset -5px -5px 20px -10px #fff;
	color: rgba(51, 51, 51, 0.86);
	text-shadow: #888888 2px 2px 5px;
}

input:focus {
	outline: none;
}

button {
	margin-left: 2rem;
	width: 15rem;
	height: 3.5rem;
	background: linear-gradient(to bottom right, #a8a8a8, #9e9e9e);
	color: rgba(51, 51, 51, 0.86);
	text-shadow: #888888 2px 2px 5px;
	border: none;
	border-radius: 2rem;
	box-shadow: 5px 5px 20px 10px #969696, -5px -5px 20px -6px #fff;
}

button:active {
	box-shadow: inset 5px 5px 20px 5px #969696, inset -5px -5px 20px -10px #fff;
	padding: 2px 0 0 2px;
}

ul {
	margin-top: 2rem;
	list-style: none;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.checkbox {
	display: none;
}

.custom-checkbox {
	margin-top: 7px;
	margin-right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(65, 65, 65);
	border-radius: 20%;
	position: relative;
}

.custom-checkbox::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 10px;
	background: rgb(82, 82, 82);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

input:checked ~ .custom-checkbox::before {
	opacity: 1;
}

input:checked ~ .text {
	color: rgba(51, 51, 51, 0.2);
}

.text {
	margin-right: 10px;
	color: rgba(51, 51, 51, 0.86);
	text-shadow: #888888 2px 2px 5px;
}

.delete {
	color: red;
	cursor: pointer;
}
